{% extends "base.html" %}

{% block pagetitle %}
    Cal Belden - About
{% endblock %}

{% block about_nav %}
    class="active"
{% endblock %}

{% block title %}
    <h2>Who I am.</h2>
{% endblock %}

{% block content %}
  <div class="main-container">
    <h3>Business</h3>
    <p>
        Calvin is a senior Electrical Engineering student at the University of Notre Dame, though much of his free time has been dedicated to programming.  If you'd like, you can take a look at his <a href="{{url_for('static', filename='resume/resume.pdf')}}">resume</a> or head to the <a href="/projects">projects</a> page to look at his technical experience.
    </p>

    <h3>Recreation</h3>
    <p>
        When he's not working, studying, reading, or tinkering, you can find Cal on the golf course shanking
        balls into beverage carts.  Weather permitting, it's also a fair bet you'll catch him swimming in a nearby lake (<a href="http://en.wikipedia.org/wiki/Minnesota#Geology_and_terrain" target="_blank">Fun Fact</a>: In Minnesota, there are more than 11,000 to choose from).
    </p>
  </div> <!-- /.main-container -->
{% endblock %}
