{% extends "base.html" %}

{% block pagetitle %}
    Cal Belden - About this site
{% endblock %}

{% block about_site_nav %}
    "active"
{% endblock %}

{% block title %}
    <h2>How I created this site.</h2>
{% endblock %}

{% block content %}
    <h3>The Tools</h3>
    <p>
        This site was built using the Python web framework, <a href="http://flask.pocoo.org" target="_blank">Flask</a>.  Flask is a lightweight framework built to get web apps up and running quickly.  It's great for a simple expose, like this one, but I've been told that it can be difficult (but not impossible) to scale for production purposes.
    </p>
    <p>
        All of the pages found here are rendered using Jinja2 templates, which I have found to be incredibly easy to use.  This site is hosted on <a href="http://heroku.com" target="_blank">Heroku</a> using their free tier (which has been great!).
    </p>
    <p>
        Stay Tuned: The source for this website will be available soon!
    </p>
{% endblock %}