{% extends "base.html" %}

{% block pagetitle %}
    Cal Belden - About
{% endblock %}

{% block about_nav %}
    class="active"
{% endblock %}

{% block title %}
    <h2>Who I am.</h2>
{% endblock %}

{% block content %}

<div class="main-container">
    <div class="about-container">
        <h3>Go time</h3>
        <p>
            I am a senior Electrical Engineering student at the University of Notre Dame with a fascination for computers, software, and the limitless possibilities they present.
        </p>
    </div>
    <div class="selfie-wrap">
        <img class="selfie" src="static/custom/selfie.jpg">
    </div>

    <div class="spacer"></div>
    
    <h3>Hopes</h3>
    <p>
        My immediate plans are to join the workforce and absorb as much information as possible; I love digging into new technologies, and I look forward to continuing that education in industry.  If you'd like, you can head to the <a href="/projects">projects</a> page to see some of my work.
    </p>
    
    <h3>Down time</h3>
    <p>
        When I'm not tinkering, you can find me shanking golf balls into beverage carts.  Other pastimes include but are not limited to: reading, frisbee-tossing, redditing, exercising, and netflixing.
    </p>
</div> <!-- .main-container -->
{% endblock %}
