<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block pagetitle %}Cal Belden - Welcome{% endblock %}</title>
  <link href="{{url_for('static', filename='assets/css/bootstrap.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/css/bootstrap-responsive.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='custom/custom.css')}}" rel="stylesheet">
  {% block style %}{% endblock %}
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <h1 class="primary_title">Calvin<br>Belden</h1>
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">calvin</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class={%block home_nav%}{%endblock%}><a href="/"><i class="icon-home icon-white"></i> Home</a></li>
            <li class={%block about_nav%}{%endblock%}><a href="/about">who i am</a></li>
            <li class={%block projects_nav%}{%endblock%}><a href="/projects">what i do</a></li>
            <li class={%block contact_nav%}{%endblock%}><a href="/contact">contact</a></li>
            <li class={%block about_site_nav%}{%endblock%}><a href="/about_site">about this site</a></li>
            {%block pnf_nav%}{%endblock%}
          </ul>
          <form class="navbar-search pull-right" action="">
            <input type="text" class="search-query span2" placeholder="Search">
          </form>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar-inner -->
  </div><!-- /.navbar -->
  <div id='content'>
    <div class='span8 offset2 main'>
      <div class='message'>
        {% block title %}{% endblock %}
        {% block content %}{% endblock %}
      </div> <!-- /.message -->
    </div> <!-- /.main /.span9 /.offset3 -->
    <div class="span3 sidebar">
    {% block sidebar %}{% endblock %}
    <div>
  </div> <!-- /.content -->

  <!-- jQuery via Google + local fallback, see h5bp.com -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>

  <!-- Bootstrap jQuery Plugins, compiled and minified -->
  <script src="{{url_for('static', filename='assets/js/bootstrap.min.js')}}"></script>
</body>
</html>