<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="A fantastic review covering the limited life works of Calvin Belden, an Electrical Engineering student and Software Engineer at the University of Notre Dame.">
  <meta name="keywords" content="calvin, belden, electrical, computer science, computer, electrical engineer, software engineer, software, developer, programmer, funny, guy, dude, man, brother, friend, university, notre dame">
  <title>{% block pagetitle %}Cal Belden - Welcome{% endblock %}</title>
  <link rel="shortcut icon" href="{{url_for('static', filename='custom/clover.ico')}}" />
  <link href="{{url_for('static', filename='assets/css/bootstrap.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/css/bootstrap-responsive.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='custom/custom.css')}}" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Expletus%20Sans" rel="stylesheet" type="text/css">
  <style type="text/css">{% block style %}{% endblock %}</style>

  <!-- Google Analytics snippet -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-43010432-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <div class="wrap">

      <!-- NAVIGATION BAR -->
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">calvin</a>
            <div class="nav-collapse">
              <ul class="nav">
                <li {%block home_nav%}{%endblock%}><a href="/"><i class="icon-home icon-white"></i> Home</a></li>
                <li {%block about_nav%}{%endblock%}><a href="/about"><i class="icon-user icon-white"></i> about</a></li>
                <li {%block projects_nav%}{%endblock%}><a href="/projects"><i class="icon-edit icon-white"></i> projects</a></li>
                <li {%block contact_nav%}{%endblock%}><a href="/contact"><i class="icon-comment icon-white"></i> contact</a></li>
                <li {%block about_site_nav%}{%endblock%}><a href="/about_site"><i class="icon-asterisk icon-white"></i> this site</a></li>
                {%block pnf_nav%}{%endblock%}
              </ul>
            </div><!-- /.nav-collapse -->
          </div><!-- /.container -->
        </div><!-- /.navbar-inner -->
      </div><!-- /.navbar -->

      <!-- MAIN BODY -->
      <div class="body">
        <!-- TITLE BAR -->
        <div class='title-bar' id='title-bar'>
          {% block title %}{% endblock %}
        </div> <!-- ./title-bar -->
        
        <!-- GUTTER -->
        <div class="gutter"></div>

        <!-- MAIN CONTENT WRAPPER -->
        <div class="main-content-wrapper">
          {% block content %}
          <div class="main-container"></div> <!-- ./main-container -->
          {% endblock %}
        </div> <!-- ./main-content-wrapper -->
      </div> <!-- ./body -->

      <!-- FOOTER -->
      <div class="footer">
        <h3>&copy; Calvin Belden. <a href="/contact">Contact.</a></h3>
      </div>

  </div> <!-- ./wrap -->

  <!-- jQuery via Google + local fallback, see h5bp.com -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>

  <!-- Bootstrap jQuery Plugins, compiled and minified -->
  <script src="{{url_for('static', filename='assets/js/bootstrap.min.js')}}"></script>
</body>
</html>