{% extends "base.html" %}

{% block pagetitle %}
    Cal Belden - Welcome
{% endblock %}

{% block home_nav %}
    "active"
{% endblock %}

{% block title %}
    <h2>Welcome to the site!</h2>
{% endblock %}

{% block content %}
    <p>
        My name is Calvin Belden, and you've stumbled upon my latest side project.  Feel free to take in the sights
        and peruse my personal information, and don't forget to stop by the gift shop on your way out.
    </p>
    <!-- TODO: want to make the spoiler alert message invisible, then visible by hovering -->
    <p>
        (SPOILER: there's no gift shop)
    </p> 
{% endblock %}