{% extends "base.html" %}

{% block pagetitle %}
    Oh no!
{% endblock %}

{% block title %}
    <h2>My bad.</h2>
{% endblock %}

{% block content %}
    <div class="main-container" id="main-container">
        <h3>The server is under a heavy load.</h3>
        <p>
            Or the server might not be under a heavy load, because I'm using a free hosting service. In any case, try to come back in a few minutes (or click Reload a million times)
        </p>
    </div> <!-- ./main-container -->
{% endblock %}
