{% extends "base.html" %}

{% block pagetitle %}
    Cal Belden - Projects
{% endblock %}

{% block projects_nav %}
    "active"
{% endblock %}

{% block title %}
    <h2>What I've worked on.</h2>
{% endblock %}

{% block content %}
    <h3>MTS Systems Corporation</h3>
    <p>
        This past summer I interned as a Software Test Engineer at MTS Systems in Eden Prairie, MN.  MTS produces testing frames for the materials, automotive, and aerospace industries and each of these products comes equipped with a rich Windows application.  My focus was automated UI testing, and I spent the summer implementing UI drivers and writing automated UI test cases.
    </p>

    <h3>Gentex Corporation</h3>
    <p>
        During the summer of 2012 I interned as a software engineer at Gentex in Zeeland, Michigan.  Gentex manufactures car mirrors, and I spent the first part of the summer working on the firmware that controls the mirror's functionality (automatic dimming, rear view display, compass, etc.).  At the end of the summer, I wrote integration tests to exercise the firmware.
    </p>

    <h3>This Website</h3>
    <p>
        I started working on this website earlier this summer to pick up on html and css.  My hope is to use the knowledge I've learned here and apply it to a food ordering web-app geared towards Notre Dame's dorm restaurants (student owned/runned).  I hope to work on this during the fall
    </p>
{% endblock %}